body {
  background-color: #ede31f;
}
img {
  width: 200px;
  height: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: #fff;
}

span {
  font-size: 5em;
}

button {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  background-color: #63f8d5;
  text-transform: uppercase;
}
h1 {
  text-align: center;
}

label {
  display: inline-block;
  width: 50px;
  margin-right: 10px;
}

input {
  margin-bottom: 10px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 16px;
}

#mensaje {
  font-weight: bold;
  text-align: center;
}

#resultado {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

